html,
body {
    overflow: hidden;
    
    user-select: none;
    touch-action: none;
}

div.player {
    position: absolute;

    width: 20px;
    height: 20px;

    background-color: red;

    transform: translate(-50%, -50%);
}